<h1>Veterans</h1>

<!-- <a href="https://www.franklincountyohio.gov/vets/">Franklin County Veterans</a> -->
<%= button_to 'Franklin County Veterans', "https://www.franklincountyohio.gov/vets/", {method: :get, class: 'btn-default btn-lg'} %>
