<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag(@images.first, class: "screenshot") %>
    </div>

    <% @images[1..-2].map do |screenshot| %>
      <div class="item">
        <%= image_tag(screenshot, class: "screenshot") %>
      </div>
    <% end %>

    <div class="item">
      <%= link_to(image_tag(@images.last), {controller: 'welcome', method: :get}, {method: :get, class: 'btn-default btn-lg'}) %>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control custom" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control custom" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


