<h1>Community Resources Online</h1>

<p>Mission: Build an online resource which succinctly organizes the wide variety of resources which are available to the homeless and low income families but are marked by difficulty to reach.</p>

<button type="button">addiction and recovery</button>
<br>
<button type="button">after school programming</button>
<br>
<button type="button">budgeting help</button>
<br>
<button type="button">cell phones (computers and internet)</button>
<br>
<button type="button">childcare centers</button>
<br>
<button type="button">clothing</button>
<br>
<button type="button">counseling</button>
<br>
<button type="button">employment</button>
<br>
<button type="button">legal services</button>
<br>
<button type="button">housing</button>
<br>
<button type="button">holiday assistance</button>
<br>
<button type="button">GED information</button>
<br>
<button type="button">youth programs / special needs</button>
<br>
<button type="button">furniture</button>
<br>
<button type="button">free clinics</button>
<br>
<button type="button">food pantries</button>
<br>
<button type="button">english as 2nd languange</button>
<br>
<button type="button">material assistance</button>
<br>
<%= button_to 'pregnancy support', {controller: 'pregnancy', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
<br>
<button type="button">rent assistance</button>
<br>
<button type="button">school supplies </button>
<br>
<button type="button">teen resources</button>
<br>
<button type="button">train and education</button>
<br>
<button type="button">transportation services</button>
<br>
<button type="button">utility assistance</button>
<br>
<%= button_to 'veterans', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>

<br>
<br>
<br>
<br>
<br>
<%= button_to 'next', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default', id: 'next_page'} %>
