<h1>Community Resources Online</h1>
<p>Search, Location, Need</p>
<p>Babies/Kids</p>
<p>Food</p>
<p></p>
<p></p>

<p>Mission: Build an online resource which succinctly organizes the wide variety of resources which are available to the homeless and low income families but are marked by difficulty to reach.</p>

<button type="button">addiction and recovery</button>
<button type="button">after school programming</button>
<button type="button">budgeting help</button>
<button type="button">cell phones (computers and internet)</button>
<button type="button">childcare centers</button>
<button type="button">clothing</button>
<button type="button">counseling</button>
<button type="button">employment</button>
<button type="button">legal services</button>
<button type="button">housing</button>
<button type="button">holiday assistance</button>
<button type="button">GED information</button>
<button type="button">youth programs / special needs</button>
<button type="button">furniture</button>
<button type="button">free clinics</button>
<button type="button">food pantries</button>
<button type="button">english as 2nd languange</button>
<button type="button">material assistance</button>
<button type="button">pregrnancy support</button>
<button type="button">rent assistance</button>
<button type="button">school supplies </button>
<button type="button">teen resources</button>
<button type="button">train and education</button>
<button type="button">transportation services</button>
<button type="button">utility assistance</button>
<%= button_to 'veterans', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default'} %>
