.jumbotron
  %h1 OneSource
  %p
    In ut accumsan est, in volutpat nibh. Duis a nulla semper, dictum eros non,
    commodo magna. In et dignissim elit. Etiam dictum semper ligula, consectetur
    vehicula lorem dictum aliquam. Quisque tincidunt sollicitudin urna at
    ultrices. Mauris porta convallis nisl, ac pharetra risus pretium vitae.
    Nullam consectetur purus quis erat dictum, sed pulvinar lectus condimentum.
    Vivamus non nibh rhoncus, vestibulum tortor eget, molestie nibh.

.container.welcome
  .row.categories
    - @categories.each do |category|
      .col-md-3.col-sm-6.col-xs-12.category
        %a{href: category_path(category)}= category.name
