.whole
  .top
    .titleholder
      = image_tag('OneSource.png', class: "logo")
      %h1 OneSource
  - @categories.each do |category|
    %a.btn.btn-default.btn-lg{href: category_path(category.key)}= category.name
  = button_to 'demo', {controller: 'pitch', method: :get}, {method: :get, class: 'btn-default btn-lg btn demo'}
