<div class="whole">
  <div class="top">
    <div class="titleholder">
    <%= image_tag('OneSource.png', class: "logo") %>
    <h1>OneSource</h1>
    </div>
  </div>

  <%= button_to 'pregnancy support', {controller: 'pregnancy', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
  <%= button_to 'employment', {controller: 'employment', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>

</div>
