<h1>Community Resources Online</h1>
<p>Search, Location, Need</p>
<p>Babies/Kids</p>
<p>Food</p>
<p></p>
<p></p>

<p>Mission: Build an online resource which succinctly organizes the wide variety of resources which are available to the homeless and low income families but are marked by difficulty to reach.</p>
