.jumbotron
  %h1 OneSource
  %p
    OneSource is an app that simply and succinctly organizes all local
    services in a single location. The app is designed to highlight programs
    and services that are “nearby” to anyone needing help.
  %p
    OneSource is also designed to provide access to analytics, allowing
    government, social and non-profit organizations to target/increase
    their client base, promote their programs, and better analyze
    market needs.

.container.welcome
  .row.categories
    - @categories.each do |category|
      .col-md-3.col-sm-6.col-xs-12.category
        %a{href: category_path(category)}= category.name
