%h1 Free Clinics
%br/
%b Near Northside Emergency Material Assistance Program (NNEMAP)
– Open to residents in 43201, 43211, and 43215. Call 614-297-0533
Location: 1064 N High St, 43201
• Four times a year, NNEMAP provides access to the Breathing Association’s medical van. Free physicals and x-rays.
• Once a month, nurses from the Columbus Public Health Dept. visit to give flu shots, check blood pressure, sugar levels, etc.
%br/
%br/
%b Victory Ministries
– Primary care, prescription assistance, disease screenings, work and school physicals, prevention and care for hyperglycemia and hypertension, and more. Open to all Central Ohio zip codes. Patients seen in order of arrival.
Phone: 614-252-2500
Location: Living Hope Free Methodist Church, 4142 Westerville Road, 43224
Hours: 2nd Thursday of each month from 6:00 – 8:30 pm
%br/
%br/
%b United Methodist Free Store
– Nursing services are offered most Wednesdays from 3-4:30pm and Thursdays from 10-11:30 am.
Phone: 614-445-7342
Location: 946 Parsons Ave, 43206
%br/
%br/
%b Xenos Free Clinics
\-
40 N. Chicago Avenue (Tuesday) Columbus, Ohio 43222
1934 N. Fourth Street (Monday) Columbus, Ohio 43201 614.823.6510 x840
http://www.xenos.org/ministries/aidfund/wsmedclinic.htm
