@import 'colors';

.preheader {
  ul {
    list-style-type: none;
    text-align:      center;

    li {
      display: inline-block;
      padding: 10pt;

      a {
        color:     $fg-color;
        font-size: 14pt;
      }
    }
  }
}
