@import 'colors';

.service-listing {
  .service {
    header {
      .title {
        font-size:   20pt;
        font-weight: bold;
        height:      24pt;
        padding:     0 20pt;
      }
    }

    .content {
      .description {

      }

      .website {

      }
    }
  }
}
