p, h1 {
  color: #ffffff;
}

.logo {
  width: 60px;
  float: left;
}

.titleholder {
  width: 100%;
  display: inline;
}

.screenshot {
  height: 88vh !important;
  margin: 0px auto;
  background: #ffffff;
}

body {
  height: 100%;
  background-color: #4eaddd;
}

.carousel-inner {
  //height: 50%;
}

.carousel-inner form {
  margin-left: 15%;
}

.carousel-control.custom {
  background-image: none;
}

.demo {
  position: absolute;
  //margin-top: 5%;
  bottom: 5%;

}

.item .carousel-caption {
  position: relative;
  bottom: -15%;
}

.whole {
  height: 100%;
}
.top {
  height: 25%;
}
.middle {
  height: 65%;
}
.bottom {
  height: 10% !important;
}

.bottom form {
  margin-bottom: 10%;
}

.middle, .top {
  position: relative;
}
