body {
  height: 100%;
  background-color: #383;
}

.carousel-inner {
  //height: 50%;
}

.carousel-inner form {
  margin-left: 15%;
}

.carousel-control.custom {
  background-image: none;
}

.demo {
  //position: relative;
  //margin-top: 90%;
}

.item .carousel-caption {
  position: relative;
  bottom: -15%;
}

.whole {
  height: 100%;
}
.top {
  height: 25%;
}
.middle {
  height: 65%;
}
.bottom {
  height: 10% !important;
}

.bottom form {
  margin-bottom: 10%;
}

.bottom, .middle, .top {
  position: relative;
}
