.container
  .row.footer
    .col-md-6.col-sm-12
      %ul
        %li
          %a{href: pitch_path} Pitch
    .col-md-6.col-sm-12
      %ul
        %li
          %a{href: '#'} About
        %li
          %a{href: '#'} Contact
        %li
          %a{href: '#'} Privacy
